@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Bree+Serif|Playfair+Display&display=swap');

// fonts
$font-primary: "Amatic SC", serif;
$font-secondary: "Bree Serif", serif;
$font-tertiary : "Playfair Display", serif;

h1, 
h2, 
h3, 
h4 {
  font-family: $font-secondary;
}

// auth
.auth-container {
  margin-top: 40px;

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .v-btn {
    margin: 10px auto;
  }
}

.auth-card {
  width: 400px;
  margin: 10px auto 60px;
}

.auth-form {
  padding: 20px;
}

.v-alert {
  width: 400px;
  margin: 5px auto;
}

// tabs content
.tab-card {
  margin: 50px auto;
}